<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
    <add key="FacebookAppId" value="166209726726710" />
    <add key="FacebookAppSecret" value="c779137599ec0fe1b9fb35975783fc9a" />
    <add key="LoaderIOAppKey" value="" />
    <add key="BatchToExecute" value="12" />
    <add key="ConfigurationJsonFile" value="Configuration.json" />
    <add key="SharedSnapshotFolder" value="" />
    <!--<add key ="ShowAppleniumTabs" value="Tools,Loader.io"/>-->
    <add key="ShowAppleniumTabs" value="GuiMap,TestEditor,Scenario,Execution,Analyzing,Configuration,Tools,MOP VAX" />
  </appSettings>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=QA_Autotest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Applenium.Properties.Settings.QA_AutotestConnectionString"
      connectionString="Data Source=(localdb)\v11.0;Initial Catalog=QA_Autotest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <log4net debug="false">
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\LogApplenium" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="(%property{Status}) %date %-5level- %message%newline" />-->
        <conversionPattern value="%date [%thread] %-5level %logger [%property{ClientID}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorsFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\errorsLog" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd&quot;.txt&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="(%property{Status}) %date %-5level- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ALL" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="FileAppender" />
      <!--<appender-ref ref="ErrorsFileAppender" />-->
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebDriver" publicKeyToken="1c2bd1631853048f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.32.0.0" newVersion="2.32.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPhoneVerificationService" />
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>